%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true
  %div
    = f.label :last_name
    %br/
    = f.text_field :last_name, autofocus: true
  %div
    = f.label :github
    %br/
    = f.text_field :github, autofocus: true
  %div
    = f.label :bio
    %br/
    = f.text_field :bio, autofocus: true
  %div
    = f.label :strengths
    %br/
    = f.label :HTML_CSS
    = radio_button_tag :strengths, "HTML/CSS"
    %br/
    = f.label :RUBY
    = radio_button_tag :strengths, "RUBY"
    %br/
    = f.label :JS
    = radio_button_tag :strengths, "JS"
    %br/
    = f.label :GIT
    = radio_button_tag :strengths, "GIT"
    %br/
    = f.label :SQL
    = radio_button_tag :strengths, "SQL"
  %div
    = f.label :weakness
    %br/
    = f.label :HTML_CSS
    = radio_button_tag :weakness, "HTML/CSS"
    %br/
    = f.label :RUBY
    = radio_button_tag :weakness, "RUBY"
    %br/
    = f.label :JS
    = radio_button_tag :weakness, "JS"
    %br/
    = f.label :GIT
    = radio_button_tag :weakness, "GIT"
    %br/
    = f.label :SQL
    = radio_button_tag :weakness, "SQL"
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %div
    = f.label :password
    - if @validatable
      %i
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %div= f.submit "Sign up"
= render "devise/shared/links"
