!!!
%html{lang: "en", ng: { app: "cdpApp"} }
  %head
    %title CoDependent
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", :rel => "stylesheet", :type => "text/css"}/
  .pull-right.userlinks
    = user_login_links
  %body
    %p.notice= notice if notice
    %p.alert= alert if alert
    = yield

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "../../dist/js/bootstrap.min.js"}
